extends layout

block content
	section.homepage
		.welcom.row
			.col.s12
				h1 Bienvenue,
				p Le projet consiste à récupérer un ensemble de données provenant de la ville de Montréal et d'offrir des services à partir de ces données. Il s'agit de données ouvertes à propos d'installations pour faire des activités sportives. 
					| Les nouvelles installations détectées lors d'un cron-task sont automatiquement publiées sur le compte twitter: 
					a(href="https://twitter.com/AureleZ", target="_blank") https://twitter.com/AureleZ
		.block
			.row.trans
				.col.s12
					h2 
						i.material-icons.prefix label
						|  Recherche par arrondissement

				.col.s9.searchfield.input-field
					i.material-icons.prefix search
					input(id="search", type="text", name="search",
					v-model="instasearch", v-on:keyup.enter="searchByArr",
					@input="arrlistLiveSearch" autocomplete="off")

					label(for="search") Recherche par arrondissement (Ex: LaSalle)

					ul.livefind(v-if='showlivesearchbox')
						li(v-for="(name, index) in filterArrNames", @click.prevent="liveSearchClicked(name)") {{name}}

				.col.s3
					a.waves-effect.waves-light.btn-large(@click.prevent="searchByArr")
						i.material-icons.right search
						| Recherche
			.row.trans
				.results
					.col.s12
						h3 
							b Arrondissement: 
							span {{instasearch}}
						b Installations trouvées:
						|  {{installationsByArr.length}}
						p.m_fail {{msgerror}}

					.spinner(v-if='showspinner')
						i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
					
					.wrapper
						.item(v-for="installation in installationsByArr")
							.card
								.card-content
									span.card-title 
										i.material-icons.prefix radio_button_checked
										|  {{installation.nom}}
									ul
										li(v-for="(value, key) in installation.data")
											b {{key}} : 
											| {{value}}
										li
											b arrondissement : 
											| {{installation.arrondissement}}
								.card-action.type
									a {{installation.type}}

								if data.isAuth
									.loginInstallationActions
										a.update(href='#', @click.prevent="updateInstallationInit(installation)")
											i.material-icons.right update
											|  Modifier
										a.delete(href='#', @click.prevent="deleteInstallationInit(installation)")
											i.material-icons.right delete_forever
											|  Supprimer

		.welcom.row.rpa.block
			.col.s12
				h2 
					i.material-icons.prefix label
					|  Recherche par installation
				p Mode de recherche par nom d'installation. La liste de toutes les installations est prédéterminée dans une liste déroulante.

			.col.s6.input-field
				select.browser-default(@change="searchByInstallation($event)")
					option(value="" disabled selected) Recherche par installation
					option(v-for="instname in installationsNames" :value="instname") {{instname}}
			
			.col.s6(style="padding:0")
				.row
				.col( v-if="installationsfound.length > 0", v-for="installationfound in installationsfound", :class="installationsfound.length > 1 ? 's6' : 's12' " style="margin:-10px 0 0 0;" )
					.card
						.card-content
							span.card-title 
								i.material-icons.prefix radio_button_checked
								|  {{installationfound.nom}}
							ul
								li(v-for="(value, key) in installationfound.data")
									b {{key}} : 
									| {{value}}
								li
									b arrondissement : 
									| {{installationfound.arrondissement}}
						.card-action
							a {{installationfound.type}}

		//modals---------------------------------------------
		.modal.modal-fixed-footer(id="modal", :class="{ delModalHeight: !updatefield }")
			form(id="actionform", v-on:submit="updateInstallation($event)", method="POST")
				.modal-content
					h4(:class="updatefield ? 'upd' : 'del'")
						span(v-html='installationtoOperate.h4')
						span.inst {{installationtoOperate.nom}}
					
					.updatefield(v-if="updatefield")
						.input-field
							input(id='ionom', type='text', ref="instnom" v-model='installationtoOperate.nom', :value='installationtoOperate.nom')
							label.active(for='ionom') Nom
						.input-field
							input(id='arrondissement', type='text', ref="instarr" :value='installationtoOperate.arrondissement')
							label.active(for='arrondissement') Arrondissement
						.input-field(v-for="(value, key) in installationtoOperate.data")
							input(:id='key', type='text', ref='instdata', :value='value')
							label.active(:for='key') {{key}}

				.modal-footer.row
					.col.s7
						span(:class="formMessage.failed ? 'm_fail' : 'm_succes'", v-if="formMessage.msgs")
							i.material-icons.prefix {{formMessage.failed ? 'error' : 'check_circle'}}
							|  {{formMessage.msgs}}
					.col.s5
						a.modal-action.modal-close.waves-effect.waves-red.btn(href='#!') Close
						button.modal-action.waves-effect.waves-green.btn(type='submit', v-if="updatefield")
							i.material-icons.right update
							| Modifier
						a.modal-action.waves-effect.waves-green.btn(v-on:click="deleteInstallation", v-if="!updatefield && showModalDelbtn")
							i.material-icons.right delete
							| Supprimer