doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width initial-scale=1')
		meta(name='MobileOptimized' content='320')
		title= data.title
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='/css/main.css')
	body
		header.header.navbar-fixed
			nav
				.nav-wrapper
					a.brand-logo(href="/") 
						i.large.material-icons 3d_rotation
						| Sportia
					ul.right
						li
							a(href="/doc") API doc
						li
							a(href="/logs") Logs
						li
							a(href="https://etudier.uqam.ca/cours?sigle=INF4375" target='_blank') INF4375
						li
							if data.isRealyAuth
								a.logout(href="/auth/logout")
									img.circle(src=data.user.photo, alt="img")
									| #{data.user.displayname} 
									b Logout
							else
								a.twittlogin(href="/auth/twitter")
									i.fa.fa-twitter(aria-hidden="true" style="font-size:24px; vertical-align:middle;")
									|  Twitter Login
		.mainwrapper.site_w(id='sportiapp')
			block content
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js")
		script(src="/js/vue.js")
		script(src="/js/main.js")
