extends layout

block content
	section(class="logs")
		| #{data.title+': '+data.logs.length}
		table.bordered.responsive-table
			thead
				tr
					th(style="width:15%") Type
					th(style="width:59%") Description
					th(style="width:26%") Date
			tbody
				each log in data.logs
					tr
						td= log.type
						td= log.desc
						td= log.date
