/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Author: AureleZannou

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
//-------Colors Variables---------
$main-color: #20a1a5;
$para-color: #717070;
$dgrey-color: #2e353f;
$lgrey-color: #f5f8fa;
$mater-color: #26a69a;

//-------Font variables----------
$main-font: 'Poiret One', cursive;
$para-font: "Open Sans", sans-serif;

//-----------Media color-------------
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;

body{
    color: $para-color;
    background: #fdfdfd;
}
//---------Mixin-------------------
@mixin center(){
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@mixin size($width, $height: $width){
    width: $width;
    height: $height;
}
@mixin libefore($content){
    font-family: 'FontAwesome';
    speak: none;
    vertical-align: middle;
    content: $content; //ex: \f138
}
/// Mixin to prefix a property
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}
/// custom prefixerz
@mixin prefixerz($property, $value) {
    #{'-webkit-' + $property}: $value;
    #{'-moz-' + $property}: $value;
    #{'-o-' + $property}: $value;
    #{$property}: $value;
}
//--------Structure---------
.deskOnly{display: block;}
.mobOnly{display: none;}

/* ==========================================================================
   Basic page styles
   ========================================================================== */
.trans *,
.trans2{
    @include prefixerz(transition, all 0.15s ease-out);
}
.translent *,
.translent2{
    @include prefix(transition, all 0.25s ease-out, webkit moz ms);
}
.easeOutQuad,
.easeOutQuadAll *{
    @include prefix(transition, 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940), webkit moz ms);
}
.clear{
    clear: both;
    height: 0;
    overflow: hidden;
}
.be_relative{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}
.be_absolute{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: block;
    top: 0;
    left: 0;
}
.site_w{
    width: 100%;
    max-width: 1200px;
    min-width: 610px;
    margin: 0 auto;
}
.mainpad{
    padding: 0 10px;
}
.m_succes{
    color: #139B13;
    margin: 5px 0;
    vertical-align: middle;
    i{vertical-align: middle;}
}
.m_fail{
    color: #ef3b3b;
    margin: 5px 0;
    vertical-align: middle;
    i{vertical-align: middle;}
}
h1,h2,h3{
    font-family: $main-font;
    color: $main-color;
    font-weight: 400;
    margin: 10px 0;
}
h1{
	font-size: 30px;
}
h2{
	font-size: 26px;
    color: $main-color;
    font-weight: 400;
}
h3{
    font-size: 22px;
    margin: 5px 0;
    span{
        font-family: $para-font;
        color: $para-color;
    }
}
h4{

}
a{color: $main-color;}
//--------easeshow--------
.easeshow{
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
}

//----------------sportia-------------
//-------------------------------------------
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i, .navbar-fixed{
	height: 56px;
    line-height: 55px;
    .twittlogin{
    	background:#2a6b80;
    	&:hover{background:#1dcaff;}
    }
    .logout{
        img{
            vertical-align: middle;
            height: 40px;
            width: 40px;
            margin-right: 5px;
        }
        b{color: #125254;}
    }
}

.searchfield{
	position: relative;
	ul.livefind{
		position: absolute;
		margin: -17px 0 0 44px;
		width: calc(100% - 66px);
		z-index: 10;
		background: #efefef;
		border: 1px solid #cccccc;
		@include prefixerz(box-shadow, 0px 1px 20px 3px rgba(0, 0, 0, 0.18));
		li{
			background: rgba(#fff, .9);
	    	padding: 5px 10px;
	    	margin-bottom: 1px;
	    	cursor: pointer;
	    	&:hover{
	    		background: rgba(#f5f5f5, .9);
	    		padding-left: 15px;
	    	}
		}
	}
}

.btn-large{
    background-color: $main-color;
}

.spinner{
    text-align: center;
    i{color:$main-color;}
}

.card{
    .card-content{
        padding: 10px;
        .card-title{
            font-size: 17px;
            color: $main-color;
            font-weight: 400;
            line-height: 15px;
            padding-bottom: 6px;
            border-bottom: solid 1px #f3eeee;
            i{vertical-align: middle;}
        }
        ul{
            margin: 5px 0;
        }
    }
    .card-action{
        background: #f4f7f7;
        padding: 10px;
        a{
            color: #8cc520!important;
        }
    }
    .loginInstallationActions{
        a{
            color: #616161!important;
            display: block;
            padding: 5px 10px;
            border-top: 1px solid #ccc;
            &:hover{padding-left: 18px;}
        }
        .update{
            background: #fdfdc9;
            &:hover{background: #ffb;}
        }
        .delete{
            background: #ffbec5;
            &:hover{background: #ffb1ba;}
        }
    }
}

header.header{
    min-width: 610px;
	nav{
		background: $main-color;
		box-shadow: none;
		.nav-wrapper{
			@extend .site_w;
		}
		.brand-logo{
			font-family: $main-font;
            left: 0!important;
            @include prefixerz(transform, translateX(0%)!important);
		}
        ul.right{min-width: 400px;}
	}
}
.select-wrapper li {
    min-height: 10px;
    line-height: 10px;
    span{
        padding: 10px!important;
    }
}
select.browser-default {
    border: 1px solid #e2dfdf;
}
.delModalHeight{max-height: 150px!important;}
.modal{
    max-width: 860px;
    width: 80%;
    top: 62px!important;
    h4{
        font-size: 20px;
        margin-bottom: 25px;
        vertical-align: middle;
        span.inst{color: $para-color;}
        i{vertical-align: middle;}
    }
    h4.upd{color: #67ca74}
    h4.del{color: #ff7777}
    .input-field{
        margin-top: 10px;
        input{
            margin: 0 0 15px 0;
            height: 35px;
        }
        label{
            @include prefixerz(text-transform, capitalize);
            @include prefixerz(transform, translateY(-140%));
            font-style: italic;
            color: #0fc6cc;
            font-size: 14px!important;
        }
    }
    .modal-footer{
    	background: #efeeee;
    	height: auto;
    	margin-bottom: 0;
    	.m_fail, .m_succes{margin:0;}
    	.modal-close{
    		background: #ff7878;
    		margin-left: 5px;
    	}
    }
}
.mainwrapper{
	padding: 30px 0px;
    
    .block{
        background: #efefef;
        padding: 10px;
        margin-bottom: 30px;
        @include prefixerz(box-shadow, 0px 1px 1px 0px rgba(0, 0, 0, 0.18));
    }
    //---section home page
    section.homepage{
        .welcom{
            p{
                max-width: 900px;
                color: #187e82;
            }
        }
        .btn-large{
            margin-top: 7px;
        }
        .results{
            .wrapper{
                width: 100%;
                column-count: 4;
                column-gap: 5px;
                .card{
                    @include prefixerz(box-shadow, 1px 1px 1px 0px rgba(0, 0, 0, 0.18));
                    border-radius: 3px;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                }
                .item{
                    display: inline-block;
                    //background: #fff;
                    padding: 5px;
                    margin: 0 0 2px;
                    width: 100%;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
            }
        }
        .rpa{
            padding: 10px 10px 25px 10px;
        }
    }

    //---section logs
    .logs{
        td{
            padding: 10px 5px;
        }
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
//-----------------------------------------------------------------------------
@media only screen and (max-width: 768px){
    .deskOnly{display: none;}
    .mobOnly{display: block;}
    .full_w{display:block; width:100%!important; margin-left:0!important; margin-right:0!important; float:none!important; clear:both!important; padding-left:0!important; padding-right:0!important;}
    .full_sw{display:block; width:50%!important;}

    .mainwrapper{
	    //---section home page
	    section.homepage{
	        .results{
	            .wrapper{
	                column-count: 2;
	            }
	        }
	    }
	}
}

//-----------------------------------------------------------------------------
@media only screen and (max-width: 480px){
    .full_sw{display:block; width:100%!important; margin-left:0!important; margin-right:0!important; float:none!important; clear:both!important; padding-left:0!important; padding-right:0!important;}
    
    .mainwrapper{
	    //---section home page
	    section.homepage{
	        .results{
	            .wrapper{
	                column-count: 1;
	            }
	        }
	    }
	}
}
